@use "base/variables" as v;
@use "base/mixins" as m;

.appointment {
    padding: v.$gutter 0;
    text-align: center;
    text-transform: uppercase;
    color: v.$white;
    background-image: linear-gradient(to right, rgba(0,0,0,.75) 0%, rgba(0,0,0,.75) 100%), url(../img/bg_citas.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;

    &__heading {
        margin-bottom: 2rem;
    }

    &__text {
        max-width: 600px;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    &__link {
        @include m.btn(v.$primary, v.$white);
        padding: .75rem 2.5rem;
        margin: 0;
    }
}