@use "base/variables" as v;
@use "base/mixins" as m;

.welcome {
    text-align: center; 

    &__heading {
        @include m.cursiveHeading;
        margin-bottom: 2rem;
    }

    &__text {
        font-size: 1.25rem;
        color: darken($color: v.$gray, $amount: 30);
       
        @include m.md { 
            font-size: 1.5rem; 
            max-width: 400px;
            margin: 0 auto;
        }
    }

}