@use "base/variables" as v;
@use "base/mixins" as m;

.social-networks {
    display: flex;

    &__link {
        margin-right: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;

        &:last-of-type {
            margin-right: 0;
        }

        &::before {
            content: "";
            padding: 1.25rem;
            display: inline-block;
        }

        &[href*="https:facebook.com"]::before {
            background-image: url(../img/icono_facebook.svg);
        }

        &[href*="https:twitter.com"]::before {
            background-image: url(../img/icono_twitter.svg);
        }

        &[href*="https:instagram.com"]::before {
            background-image: url(../img/icono_instagram.svg);
        }
    }   

    &__accessibility {
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
        border: 0;
        display: block;
    }

} 