@use "variables" as v;

@mixin sm {
    @media (min-width: v.$sm) {
        @content;
    }
}

@mixin md {
    @media (min-width: v.$md) {
        @content;
    }
} 

@mixin lg {
    @media (min-width: v.$lg) {
        @content;
    }
}

@mixin xl {
    @media (min-width: v.$xl) {
        @content;
    }
}

@mixin xxl {
    @media (min-width: v.$xxl) {
        @content;
    }
}

@mixin boton($bgColor, $textColor) {
    background-color: $bgColor;
    padding: 2rem 2rem;
    color: $textColor;
    margin-top: 2rem;
    font-size: 2.2rem;
    font-weight: 400;
    display: inline-block;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    transition: background-color;
    transition-duration: 300ms;

    @include md {
        width: auto;
    }
    &:hover {
        background-color: darken($bgColor, 10%);
    }
}

@mixin grid($columns, $gap) {
    display: grid;
    grid-template-columns: repeat($columns,1fr);
    gap: $gap;
}